.App {
  text-align: center;
}
.bg-warning2{
  background-color: rgb(232, 151, 0);
}
.btn-outline-warning2 {
  background-color: rgb(232, 151, 0) !important; /* สีพื้นหลัง */
  color: white !important; /* สีตัวอักษร */
  border: 1px solid rgb(232, 151, 0) !important; /* สีกรอบปุ่ม */
}

.btn-outline-warning2:hover {
  background-color: rgb(255, 165, 0) !important; /* สีเมื่อ hover (สีส้มสว่าง) */
  color: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
